form {
  width: 80%;
  // max-width: 400px;
  border: 1px solid gray;
  border-radius: 5px;
  padding: 20px;
  margin: 10px auto;

  #skills {

    .skill {
      width: 50%;
      display: flex;

      button {
        margin-top: 9px;
        margin-left: 5px;
      }
    }
  }

  #valider{
    display: block;
    margin: 10px auto;
  }
}
