<form [formGroup]="userForm" (ngSubmit)="onSubmit(userForm)">

  <div class="row">
    <div class="col">
      <label for="">Prenom
        <input type="text" class="form-control" placeholder="Prénom" aria-label="Prénom" formControlName="firstName"
          >
      </label>
      <p *ngIf="firstName?.dirty && firstName?.hasError('required')">Prénom Requis</p>
      <p *ngIf="firstName?.dirty && (firstName?.hasError('minlength') || firstName?.hasError('maxlength'))">Prénom doit
        faire entre 3 et 20 caratères</p>


    </div>

    <div class="col">
      <label for="">Nom
        <input type="text" class="form-control" placeholder="Nom" aria-label="Nom" formControlName="lastName" >
      </label>
      <p *ngIf="lastName?.dirty && lastName?.hasError('required')">Nom Requis</p>
      <p *ngIf="lastName?.dirty && (lastName?.hasError('minlength') || lastName?.hasError('maxlength'))">Nom doit faire
        entre 3 et 20 caratères</p>

    </div>
  </div>


  <label for="">Email </label>
  <input class="form-control" type="email" formControlName="email" >

  <p *ngIf="email?.dirty && email?.hasError('required')">Adresse mail Requise</p>
  <p *ngIf="email?.dirty && email?.hasError('email')">Ce n'est pas une adresse mail valide ex: adresse@mail.fr</p>


  <label for="">Team </label>
  <select class="form-control" formControlName="team" id="team" >
    <option value="bleu">Bleu</option>
    <option value="rouge">Rouge</option>
  </select>

  <p *ngIf="team?.dirty && team?.hasError('required')">Veuillez selectionner une team</p>


  <div id="skills">
    <label> Skills : </label>
    <ul formArrayName="skills" for="" *ngFor="let skill of skills.controls; let i = index; trackBy:trackByFunction">
      <li>
        <!-- <label> Skill {{i}} </label> -->
        <div class="skill">
          <input class="form-control" type="text" [formControlName]="i" [value]="skill.value">
          <button type="button" class="btn-close" *ngIf="skills.length > 0" (click)="removeSkill(i)"></button>
        </div>
        <p *ngIf="skill?.dirty && skill?.hasError('required')">Ex : Courir </p>
      </li>
    </ul>

    <button type="button" class="btn btn-outline-primary" (click)="addSkill()">Ajouter Skill</button>

  </div>

  <div>
    <label for="">Username
      <input type="text" class="form-control" placeholder="username" aria-label="Nom" formControlName="username"
        >
    </label>
    <p *ngIf="usernameCrtl.dirty && usernameCrtl.hasError('alreadyUsed')">pseudo non disponible</p>
    <!-- <p *ngIf="lastName?.dirty && lastName?.hasError('required')">Nom Requis</p>
    <p *ngIf="lastName?.dirty && (lastName?.hasError('minlength') || lastName?.hasError('maxlength'))">Nom doit faire entre 3 et 20 caratères</p> -->
  </div>

  <div [formGroup]="passwordForm">
    <div>
      <label for="">Mot de passe
        <input type="password" class="form-control" placeholder="Mot de passe" aria-label="Nom"
          formControlName="password" >
      </label>
      <p *ngIf="password?.dirty && password?.hasError('required')">Mot de passe requis</p>
      <p *ngIf="password?.dirty && (password?.hasError('minlength') || password?.hasError('maxlength'))">Le mot de passe doit faire entre 6 et 20 caratères</p>
    </div>
    <div>
      <label for="">Confirmation de Mot de passe
        <input type="password" class="form-control" placeholder="corfirmation de mot de passe" aria-label="Nom"
          formControlName="confirm" >
      </label>
      <p *ngIf="confirmpassword?.dirty && confirmpassword?.hasError('required')">Mot de passe requis</p>
      <!-- <p *ngIf="confirmpassword?.dirty && (confirmpassword?.hasError('minlength') || confirmpassword?.hasError('maxlength'))">Le mot de passe doit faire entre 6 et 20 caratères</p> -->

    </div>
    <p> strength :  {{passwordStrength}}</p>
    <p *ngIf="passwordForm?.dirty && passwordForm?.hasError('matchingError')"> les Deux mot de passe ne sont pas identique</p>
  </div>


  <div>
    <label for="">Age
      <input type="number" class="form-control" placeholder="65" aria-label="age" formControlName="age" >
    </label>
    <p *ngIf="ageCtrl?.dirty && ageCtrl?.hasError('required')">Age requis</p>
    <p *ngIf="ageCtrl?.dirty && ageCtrl?.hasError('AgeOk')">Vous devez avoir entre 65 et 99ans </p>
  </div>



  <button class="btn btn-primary" id="valider" type="submit"
    [disabled]="userForm.invalid">Valider</button>
</form>
