<li [class]="getItemVariant()" class="listyle">
  {{task.title}} - {{task.created | date:'d/M/Y HH:mm'}}
  <input type="text" [(ngModel)]="task.title">
  <!-- <span [class]="getBadgeVariant()"> -->
  <span
    [ngClass]="task.completed ? 'd-inline float-end badge text-bg-success' : 'd-inline float-end badge text-bg-warning'">

    {{getComplete()}} </span>
  <p>{{task.description}}</p>
  <button class="btn btn-outline-dark float-end" (click)="todoListService.toggleComplete(id)">{{getButtonText()}}</button>
</li>
