<!-- <app-login></app-login> -->
<app-logout></app-logout>

<ul class="nav justify-content-center">
  <li class="nav-item"><a class="nav-link" routerLink='todolist' routerLinkActive="active">todolist</a></li>
  <li class="nav-item"><a class="nav-link" routerLink='login' routerLinkActive="active">Connexion </a></li>
  <li class="nav-item"><a class="nav-link" routerLink='taskform' routerLinkActive="active">Créer une tâche </a></li>
  <li class="nav-item"><a class="nav-link" routerLink='userlist' routerLinkActive="active">Liste des Utilisateurs </a></li>
  <li class="nav-item"><a class="nav-link" routerLink='userform' routerLinkActive="active">Nouvel Utilisateur</a></li>


</ul>
